body {
  background-color: orange;
}


#bar {
  position: absolute;
  background-color: brown;
  height: 200px;
  width: 350px;
  left: 105px;
  top: 330px;
  cursor: pointer;
}

#chipsDisp{
  position: absolute;
  left: 121px;
  top: 50px;
  font-size: 50px;
  color: black;
  font-weight: bold;
}

#cpsDisp {
  position: absolute;
  left: 121px;
  top: 170px;
  font-size: 50px;
  color: black;
  font-weight: bold;
}
#cpcDisp {
  position: absolute;
  left: 301px;
  top: 170px;
  font-size: 50px;
  color: black;
  font-weight: bold;
}
#backgroundClick {
  position: absolute;
  background-color: brown;
  left: 0px;
  width: 40%;
  top: 0px;
  height: 100%;
}
#blackBorder {
  position: absolute;
  left: 690px;
  top: 40px;
  width: 550px;
  height: 540px;
  background-color: black;
}

#guys {
  position: absolute;
  left: 700px;
  top: 50px;
  width: 530px;
  height: 520px;
  background-color: white;
}
.shopText {
  position: relative;
  font-size: 20px;
  color: white;
}
#thingyShop {
  position:absolute;
  left: 691px;
  width: 96px;
  height: 16px;
  top: 40px;
  background-color: white;
}
#thingyUpgrades {
  position:absolute;
  left: 801px;
  width: 96px;
  height: 16px;
  top: 40px;
  background-color: white;
}
#thingyTreasures {
  position:absolute;
  left: 911px;
  width: 96px;
  height: 16px;
  top: 40px;
  background-color: white;
}
#factory {
  position: absolute;
  left: 711px;
  top: 60px;
  width: 250px;
  height: 150px;
  background-color: brown;
  cursor: pointer;
}



#worker {
  position: absolute;
  left: 970px;
  top: 60px;
  width: 250px;
  height: 150px;
  background-color: brown;
  cursor: pointer;
}

#factoryName {
  font-weight: bold;
  left: 83px;
  font-size: 25px;
}
#factoryCost {
  left: 15px;
}
#factoryCPS {
  left: 35px;
}
#numbFactories {
  position: relative;
  top: -160px;
  left: 225px;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px white;
  color: grey;
}

#workerName {
  left: 85px;
  font-weight: bold;
  font-size: 25px;
}
#workerCost {
  left: 15px;
}
#workerCPS {
  left: 35px;
}
#numbWorkers {
  position: relative;
  left: 225px;
  top: -160px;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px white;
  color: grey;
}

#upgrade {
  position: absolute;
  left: 710px;
  top: 60px;
  width: 250px;
  height: 150px;
  background-color: brown;
  cursor: pointer;
}
#upgradeTitle {
  position: relative;
  font-size: 25px;
  color: white;
  left: 83px;
  font-weight: bold;
  top: -12px;
}
#upgradeCost {
  position: relative;
  font-size: 20px;
  color: white;
  left: 20px;
  top: -18px;
}
#upgradeDescrip {
  position: relative;
  font-size: 20px;
  color: white;
  left: 40px;
  top: -20px;
}

#shopNav {
  position: absolute;
  background-color: white;
  color: brown;
  font-weight: bold;
  left: 690px;
  top: 3px;
  height:40px;
  width: 100px;
  font-size: 15px;
  cursor: pointer;
}
#upgradeNav {
  position: absolute;
  background-color: white;
  color: brown;
  font-weight: bold;
  left: 800px;
  top: 3px;
  height:40px;
  width: 100px;
  font-size: 15px;
  cursor: pointer;
}
#treasureNav {
  position: absolute;
  background-color: white;
  color: brown;
  font-weight: bold;
  left: 910px;
  top: 3px;
  height:40px;
  width: 100px;
  font-size: 15px;
  cursor: pointer;
}

#treasureNav:hover, #upgradeNav:hover, #shopNav:hover {
  background-color: #c5bdbd;
}
#treasureNav:active, #upgradeNav:active, #shopNav:active {
  box-shadow: blue;
}

#chanceClick {
  position: absolute;
  left: 710px;
  top: 60px;
  width: 250px;
  height: 150px;
  background-color: brown;
  cursor: pointer;
}

#chanceDescrip {
  position: relative;
  font-size: 18px;
  text-align: center;
  color: white;
  top: -14px;
}
#currentChance {
  position: relative;
  font-size: 17px;
  text-align: center;
  color: white;
  top: -26px;
}
#chanceCost {
  position: relative;
  font-size: 17px;
  text-align: center;
  color: white;
  top: -40px;
}
#infoButton {
  position: absolute;
  left: 1200px;
  top: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#chest {
  background-color: black;
  width: 500px;
  height: 500px;
  left: 200px;
  top: 100px;
}